* {
    padding: 0px;
    margin: 0 auto;
}

#search-results {
    height: 400px;
    padding: 20px;
    overflow-y: scroll;
    box-shadow: inset 0px 0px 5px 1px rgb(182, 181, 181);
}

#itinerary,
#formSearch {
    font-size: 20px;
}

#search-results section {
    margin: 10px;
}


/* Concert Styles */
.concert {
    display: flex;
}

.concert-text {
    width: 50%;
    overflow: hidden;
    height: 200px;

}

.concert-img {
    width: 50%;
    overflow: hidden;
    height: 200px;
}

.concert-img img {
    width: 100%;
}


#search-header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    justify-content: center;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 775px) {
    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }
}

@media only screen and (min-width: 776px) {
    #desktop {
        display: block;
    }

    #mobile {
        display: none;
    }
}

/* const myFunction = (x) => {
    document.getElementById("search-results").innerText = `${x} is your screen size`;
    if (x.matches) { // If media query matches
        document.getElementById("desktop").style = "display: none";
        document.getElementById("mobile").style = "display: block";
    } else {
        document.getElementById("mobile").style = "display: none";
        document.getElementById("desktop").style = "display: block";
        
    }
} */